*{margin: 0;padding: 0;}
.window{
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}
.images{
    display: flex;
    transition: all 1s;
}
.images > img{
    width: 100%;
}
button{
    display: inline-block;
    padding: 4px 10px;
}
